<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cpp Programming Slides</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #121212;
            color: #e0e0e0;
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            margin-top: 50px;
            font-size: 2.5em;
            color: #ffffff;
        }
        .list-container::before {
            content: "";
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-image: url('/favicon.ico');
            background-repeat: no-repeat;
            background-size: 80px;
            width: 80px;
            height: 90px;
            opacity: 0.3;
        }
        .list-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #444;
            border-radius: 10px;
            background: #1f1f1f;
            text-align: left;
            position: relative;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            margin: 15px 0;
        }
        .slide-link {
            display: block;
            text-decoration: none;
            background: #2c2c2c;
            color: #d0d0d0;
            padding: 15px;
            border-radius: 10px;
            transition: all 0.3s ease;
            border: 1px solid #444;
        }
        .slide-link:hover {
            background: #444;
            color: #ffffff;
            border-color: #666
        }
        .slide-title {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .slide-description {
            font-size: 0.9em;
            color: #bbb;
        }
    </style>
</head>
<body>
    <h1>Cpp Programming Slides</h1>
    <div class="list-container">
        <ul>
            <% slide_decks.forEach(function(slide_deck) { %>
                <li>
                    <a href="<%= slide_deck.location %>" class="slide-link">
                        <div class="slide-title"><%= slide_deck.title %></div>
                        <div class="slide-description"><%= slide_deck.description %></div>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
