<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C++ Programming Slides</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <h1>C++ Programming Slides</h1>
    </header>
    <main>
        <section class="container slide-container">
            <section class="display-button-container">
                <button id="displayGrid" class="display-button active-display-button link">
                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0" y="0" width="16" height="16" />
                        <line x1="8" y1="0" x2="8" y2="16" />
                        <line x1="0" y1="8" x2="16" y2="8" />
                    </svg>
                </button>
                <button id="displayList" class="display-button link">
                    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0" y1="3" x2="16" y2="3" />
                        <line x1="0" y1="8" x2="16" y2="8" />
                        <line x1="0" y1="13" x2="16" y2="13" />
                    </svg>
                </button>
            </section>
            <ul>
<% if (slide_decks.length > 0) { %>
    <% slide_decks.forEach(function(slide_deck) { %>
                <li>
                    <a href="<%= slide_deck.location %>" class="link slide-link">
                        <div class="slide-title"><%- slide_deck.title %></div>
                        <div class="slide-description"><%- slide_deck.description %></div>
                        <a href="<%= slide_deck.location %>?print-pdf" class="print-to-pdf display-button link">
                            <img src="/public/pdf_icon.png" alt="Print to pdf" />
                        </a>
                    </a>
                </li>
    <% }); %>
<% } else { %>
                <li >
                    <a href="/" class="link slide-link">
                        <div class="slide-title">No slides available!</div>
                        <div class="slide-description">Please be patient while the slides are being created. 😉</div>
                    </a>
                </li>
<% } %>
            </ul>
        </section>
    </main>
    <footer class="footer">
        <a href="https://expressjs.com/" target="_blank">
            <span class="express-logo">Express</span>
        </a>
        <a href="https://ejs.co/" target="_blank">
            <span class="ejs-logo">&lt;%= EJS %&gt;</span>
        </a>
        <a href="https://revealjs.com/" target="_blank">
            <img src="/public/reveal_js_logo.svg" alt="Powered by Reveal.js" class="reveal-logo" />
        </a>
    </footer>
    <script>
        function updateListItemHeights() {
            const items = document.querySelectorAll(".container ul li");
            if (items.length === 0) return;
            const columnCount = window.getComputedStyle(document.querySelector(".container ul")).gridTemplateColumns.split(" ").length;
            items.forEach(item => item.style.height = "auto");
            if (columnCount > 1) {
                const maxHeight = Math.max(...Array.from(items, item => item.offsetHeight));
                items.forEach(item => item.style.height = `${maxHeight}px`);
            }
        }
        function updateDisplayStyle(display_grid) {
            var classes = document.querySelector(".slide-container").classList;
            if (classes.contains("single-column") == display_grid) {
                document.getElementById("displayGrid").classList.toggle("active-display-button");
                document.getElementById("displayList").classList.toggle("active-display-button");
                if (display_grid) { classes.remove("single-column"); } else { classes.add("single-column"); }
                updateListItemHeights();
            }
        }
        document.addEventListener("DOMContentLoaded", updateListItemHeights);
        window.addEventListener("resize", updateListItemHeights);
        document.getElementById("displayGrid").addEventListener("click", function() { updateDisplayStyle(true); });
        document.getElementById("displayList").addEventListener("click", function() { updateDisplayStyle(false); });
    </script>
</body>
</html>
