<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C++ Programming Slides</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>C++ Programming Slides</h1>
    <div class="container slide-container">
        <ul>
<% if (slide_decks.length > 0) { %>
    <% slide_decks.forEach(function(slide_deck) { %>
            <li>
                <a href="<%= slide_deck.location %>" class="link slide-link">
                    <div class="slide-title"><%- slide_deck.title %></div>
                    <div class="slide-description"><%- slide_deck.description %></div>
                </a>
            </li>
    <% }); %>
<% } else { %>
            <li >
                <div class="placeholder-item">
                    <div class="no-slides-title">No slides available!</div>
                    <div class="no-slides-message">Please be patient while the slides are being created. 😉</div>
                </div>
            </li>
<% } %>
        </ul>
    </div>
    <script>
        function updateListItemHeights() {
            const items = document.querySelectorAll(".container ul li");
            if (items.length === 0) return;
            const columnCount = window.getComputedStyle(document.querySelector(".container ul")).gridTemplateColumns.split(" ").length;
            items.forEach(item => item.style.height = "auto");
            if (columnCount > 1) {
                const maxHeight = Math.max(...Array.from(items, item => item.offsetHeight));
                items.forEach(item => item.style.height = `${maxHeight}px`);
            }
        }
        document.addEventListener("DOMContentLoaded", updateListItemHeights);
        window.addEventListener("resize", updateListItemHeights);
    </script>
</body>
</html>
