<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C++ Programming Slides</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>C++ Programming Slides</h1>
    <div class="container slide-container">
        <ul>
            <% slide_decks.forEach(function(slide_deck) { %>
                <li>
                    <a href="<%= slide_deck.location %>" class="link slide-link">
                        <div class="slide-title"><%= slide_deck.title %></div>
                        <div class="slide-description"><%= slide_deck.description %></div>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const items = document.querySelectorAll(".container ul li");
            const maxHeight = Math.max(...Array.from(items, item => item.offsetHeight));
            items.forEach(item => item.style.height = `${maxHeight}px`);
        });
    </script>
</body>
</html>
