<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cpp Programming Slides</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>Cpp Programming Slides</h1>
    <div class="list-container">
        <ul>
            <% slide_decks.forEach(function(slide_deck) { %>
                <li>
                    <a href="<%= slide_deck.location %>" class="slide-link">
                        <div class="slide-title"><%= slide_deck.title %></div>
                        <div class="slide-description"><%= slide_deck.description %></div>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
