<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= slidedeck_title %></title>
    <link rel="stylesheet" href="/reveal.js/dist/reset.css">
    <link rel="stylesheet" href="/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="/reveal.js/dist/theme/black.css">
    <link rel="stylesheet" href="/reveal.js/plugin/highlight/monokai.css">
    <link rel="stylesheet" href="/public/slides.css">
</head>
<body>
    <div id="printPdfSection" class="hidden">
        <div class="print-pdf-buttons">
            <button id="printPdfPrintBtn" class="print-pdf-button print-pdf-img-button">
                <img src="/public/printer_icon.png" alt="Print PDF">
            </button>
            <button id="printPdfConfigBtn" class="print-pdf-button print-pdf-img-button">
                <img src="/public/settings_icon.png" alt="PDF options">
            </button>
            <button id="printPdfHelpBtn" class="print-pdf-button print-pdf-img-button">
                <span>?</span>
            </button>
        </div>
        <section id="printPdfConfig" class="print-pdf-section hidden">
            <h1>Slides configuration</h1>
            <form id="pdfConfigForm">
                <div class="print-pdf-config-item">
                    <label for="printPdfSlideNotes">Slide Notes:</label>
                    <select id="printPdfSlideNotes" name="slideNotes">
                        <option value="hide">Hide</option>
                        <option value="onSlide">On Slide</option>
                        <option value="onSeparatePage">On Separate Page</option>
                    </select>
                </div>
                <div class="print-pdf-config-item">
                    <input type="checkbox" id="printPdfMergeFragments" name="mergeFragments" value="true">
                    <label for="printPdfMergeFragments">Merge Fragments</label>
                </div>
                <div class="print-pdf-config-item">
                    <input type="checkbox" id="printPdfShowSlideNumbers" name="showSlideNumbers" value="true">
                    <label for="printPdfShowSlideNumbers">Show Slide Numbers</label>
                </div>
                <button type="button" id="applyPdfConfig" class="print-pdf-button print-pdf-txt-button">
                    <span>Apply</span>
                </button>
                <button type="button" id="resetPdfConfig" class="print-pdf-button print-pdf-txt-button">
                    <span>Reset</span>
                </button>
            </form>
        </section>
        <section id="printPdfHelp" class="print-pdf-section hidden">
            <h1>How to save slides as pdf?</h1>
            <ol>
                <li>Open the print dialog.</li>
                <li>Change <span class="print-pdf-highlight">Destination</span> to <span class="print-pdf-highlight">Save to PDF</span>.</li>
                <li>Change <span class="print-pdf-highlight">Layout</span> to <span class="print-pdf-highlight">Landscape</span>.</li>
                <li>Change <span class="print-pdf-highlight">Margins</span> to <span class="print-pdf-highlight">None</span>.</li>
                <li>Disable <span class="print-pdf-highlight">Print headers and footers</span> option.</li>
                <li>Enable <span class="print-pdf-highlight">Print backgrounds</span> option.</li>
                <li>Click the <span class="print-pdf-highlight">Save</span> button.</li>
                <li>Choose a filename and destination.</li>
            </ol>
        </section>
    </div>
    <div class="reveal">
        <div class="slides">
            <section data-markdown>
                <textarea data-template>
<%- slidedeck_content_markdown %>
                </textarea>
            </section>
        </div>
    </div>
    <script src="/reveal.js/dist/reveal.js"></script>
    <script src="/reveal.js/plugin/notes/notes.js"></script>
    <script src="/reveal.js/plugin/markdown/markdown.js"></script>
    <script src="/reveal.js/plugin/highlight/highlight.js"></script>
    <script src="/reveal.js-mermaid-plugin/plugin/mermaid/mermaid.js"></script>
    <script>
        var revealConfig = {
            hash: true,
            mermaid: {'theme': 'dark', 'themeVariables': { 'darkMode': true }},
            plugins: [RevealMarkdown, RevealHighlight, RevealNotes, RevealMermaid]
        };
        if (new URLSearchParams(window.location.search).has("print-pdf")) {
            document.getElementById("printPdfSection").classList.remove("hidden");
            const savedConfig = localStorage.getItem("revealPdfConfig");
            Object.assign(revealConfig, savedConfig ? JSON.parse(savedConfig) : {
                pdfMaxPagesPerSlide: 1,
                showNotes: true,
                pdfSeparateFragments: false,
                slideNumber: false
            });
        }
        Reveal.initialize(revealConfig);
        document.addEventListener("DOMContentLoaded", function () {
            const config = Reveal.getConfig();
            document.getElementById("printPdfSlideNotes").value = (config.showNotes === "separate-page") ?
                "onSeparatePage" : (config.showNotes === true) ? "onSlide" : "hide";
            document.getElementById("printPdfMergeFragments").checked = config.pdfSeparateFragments === false;
            document.getElementById("printPdfShowSlideNumbers").checked = config.slideNumber === "c/t";
        });
        document.getElementById("printPdfPrintBtn").addEventListener("click", function () {
            document.getElementById("printPdfConfig").classList.add("hidden");
            document.getElementById("printPdfHelp").classList.add("hidden");
            window.print();
        });
        document.getElementById("printPdfConfigBtn").addEventListener("click", function () {
            document.getElementById("printPdfConfig").classList.toggle("hidden");
            document.getElementById("printPdfHelp").classList.add("hidden");
        });
        document.getElementById("printPdfHelpBtn").addEventListener("click", function () {
            document.getElementById("printPdfConfig").classList.add("hidden");
            document.getElementById("printPdfHelp").classList.toggle("hidden");
        });
        document.getElementById("applyPdfConfig").addEventListener("click", function () {
            const slideNotes = document.getElementById('printPdfSlideNotes').value;
            const mergeFragments = document.getElementById('printPdfMergeFragments').checked;
            const showSlideNumbers = document.getElementById('printPdfShowSlideNumbers').checked;
            const newConfig = {
                showNotes: (slideNotes === "onSeparatePage") ? "separate-page" : (slideNotes === "onSlide"),
                pdfSeparateFragments: !mergeFragments,
                slideNumber: showSlideNumbers ? "c/t" : false
            };
            localStorage.setItem("revealPdfConfig", JSON.stringify(newConfig));
            window.location.reload();
        });
        document.getElementById("resetPdfConfig").addEventListener("click", function () {
            const defaultConfig = {
                showNotes: true,
                pdfSeparateFragments: false,
                slideNumber: false
            };
            localStorage.setItem("revealPdfConfig", JSON.stringify(defaultConfig));
            window.location.reload();
        });
    </script>
</body>
</html>
