<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= slidedeck_title %></title>
    <link rel="stylesheet" href="/reveal.js/dist/reset.css">
    <link rel="stylesheet" href="/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="/reveal.js/dist/theme/black.css">
    <link rel="stylesheet" href="/reveal.js/plugin/highlight/monokai.css">
    <style>
        .reveal .slides .mermaid {
            background: none !important;
        }
        .reveal .slides .mermaid svg {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="reveal">
        <div class="slides">
            <section data-markdown>
                <script type="text/template">
<%- slidedeck_content_markdown %>
                </script>
            </section>
        </div>
    </div>
    <script src="/reveal.js/dist/reveal.js"></script>
    <script src="/reveal.js/plugin/notes/notes.js"></script>
    <script src="/reveal.js/plugin/markdown/markdown.js"></script>
    <script src="/reveal.js/plugin/highlight/highlight.js"></script>
    <script src="/reveal.js-mermaid-plugin/plugin/mermaid/mermaid.js"></script>
    <script>
        var revealConfig = {
            hash: true,
            plugins: [RevealMarkdown, RevealHighlight, RevealNotes, RevealMermaid]
        };
        if (new URLSearchParams(window.location.search).has("print-pdf")) {
            Object.assign(revealConfig, {
                pdfMaxPagesPerSlide: 1,
                showNotes: true
            });
        }
        Reveal.initialize(revealConfig);
    </script>
</body>
</html>
