.reveal .slides pre.code-wrapper:has(> code.mermaid) {
    box-shadow: none !important;
}
.reveal .slides code.mermaid {
    background: none !important;
    max-height: 100vh;
}
.reveal .slides code.mermaid svg {
    display: block;
    margin: 0 auto;
}
.reveal .slides code.mermaid svg foreignObject > div:has(> span.nodeLabel) {
    display: flex !important;
    align-items: center;
    height: 100%;
}
