.reveal .slides pre.code-wrapper:has(> code.mermaid) {
    box-shadow: none !important;
}
.reveal .slides .mermaid {
    background: none !important;
    max-height: 100vh;
}
.reveal .slides .mermaid svg {
    display: block;
    margin: 0 auto;
}
@media(print) {
    .hidden-on-print {
        display: none;
    }
}
