.reveal .slides pre.code-wrapper:has(> code.mermaid) {
    box-shadow: none !important;
}
.reveal .slides .mermaid {
    background: none !important;
    max-height: 100vh;
}
.reveal .slides .mermaid svg {
    display: block;
    margin: 0 auto;
}
#printPdfSection.hidden, #printPdfSection .hidden {
    display: none !important;
}
#printPdfSection {
    z-index: 10;
    position: fixed;
    right: 10px;
    top: 10px;
    font-family: Arial, sans-serif;
    color: #e0e0e0;
}
#printPdfSection .print-pdf-buttons {
    display: flex;
    gap: 5px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
}
#printPdfSection .print-pdf-img-button {
    display: inline-flex;
    width: 36px;
    height: 36px;
    padding: 0;
    font-size: 24px;
}
#printPdfSection .print-pdf-img-button img {
    width: 24px;
    height: 24px;
}
#printPdfSection .print-pdf-txt-button {
    padding: 5px;
    font-size: 18px;
}
#printPdfSection .print-pdf-button {
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(44, 44, 44, .6);
    color: #d0d0d0;
    transition: all 0.3s ease;
    border: 1px solid #444;
    font-weight: bold;
}
#printPdfSection .print-pdf-button:hover {
    background: rgba(68, 68, 68, .6);
    color: #ffffff;
    border-color: #666;
}
#printPdfSection .active-print-pdf-button {
    border: none;
    background: #666;
}
#printPdfSection .active-print-pdf-button:hover {
    background: #666;
}
#printPdfSection .print-pdf-sections {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    margin-top: 41px;
}
#printPdfSection .print-pdf-section::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url('/public/pdf_icon.png');
    background-repeat: no-repeat;
    background-size: 64px;
    width: 64px;
    height: 64px;
    opacity: 0.3;
}
#printPdfSection .print-pdf-section {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    background: rgba(31, 31, 31, .6);
    position: relative;
    text-align: left;
    right: 0;
    min-width: 360px;
    min-height: 64px;
}
#printPdfSection .print-pdf-section h1 {
    font-size: 20px;
    font-weight: bold;
    color: #40a9ff;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid #40a9ff;
    padding-bottom: 5px;
}
#printPdfSection .print-pdf-section ol {
    padding-left: 0;
    margin-left: 20px;
}
#printPdfSection .print-pdf-section li {
    margin-bottom: 10px;
}
#printPdfSection .print-pdf-section li:last-child {
    margin-bottom: 0px;
}
#printPdfSection span.print-pdf-highlight {
    font-weight: bold;
    color: #40a9ff;
}
#printPdfSection #applyPdfConfig {
    margin-top: 15px;
}
#printPdfSection #printPdfConfig .print-pdf-config-item {
    margin-bottom: 10px;
}
#printPdfSection #printPdfConfig label {
    display: inline-block;
    font-weight: bold;
}
#printPdfSection #printPdfConfig select,
#printPdfSection #printPdfConfig input[type="checkbox"]  {
    margin-top: 5px;
    font-size: 14px;
}
@media print {
    #printPdfSection {
        display: none !important;
    }
}
