body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}
.header {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.header h1 {
    font-size: 3em;
    color: #fff;
    margin: 0;
}
.header p {
    font-size: .75em;
    color: #bbb;
    margin: 5px 0;
}
.header p:empty {
    display: none;
}
.no-break {
    white-space: nowrap !important;
}
.hidden {
    display: none !important;
}
.container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    background: #1f1f1f;
    position: relative;
    text-align: left;
}
.container .background-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 100px;
    width: auto;
    opacity: 0.3;
}
.slide-container {
    width: calc(100% - 80px);
}
.error-container {
    max-width: 600px;
}
.slide-container ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    gap: 15px;
    padding: 0;
    margin: 0;
}
@media(max-width: 1920px) {
    .slide-container ul {
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
}
.slide-container li {
    position: relative;
    display: flex;
    align-items: stretch;
}
.single-column {
    max-width: 600px;
}
.single-column ul {
    grid-template-columns: 1fr;
}
.error-container p {
    font-size: 1.2em;
    color: #bbb;
    margin-bottom: 20px;
}
.link {
    text-decoration: none;
    background: #2c2c2c;
    color: #d0d0d0;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 1px solid #444;
    padding: 15px;
}
.link:hover {
    background: #444;
    color: #fff;
    border-color: #666;
}
.slide-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(44, 44, 44, .6);
    position: relative;
}
.slide-link:hover {
    background: rgba(68, 68, 68, .6);
}
.slide-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}
.slide-description {
    font-size: 0.9em;
    color: #bbb;
}
.home-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.2em;
}
.display-button-container {
    display: flex;
    gap: 5px;
    position: absolute;
    top: -13px;
    right: 20px;
    z-index: 10;
}
@media(max-width: 600px) {
    .display-button-container #displayGrid {
        display: none;
    }
    .display-button-container #displayList {
        display: none;
    }
}
.display-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
}
.active-display-button {
    border: none;
    background: #666;
}
.active-display-button:hover {
    background: #666;
}
.display-button svg {
    width: 16px;
    height: 16px;
    stroke: #bbb;
    stroke-width: 2;
    fill: none;
}
.display-button img {
    width: 24px;
    height: 24px;
}
.print-to-pdf {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    width: 36px;
    height: 36px;
    background: rgba(44, 44, 44, .6);
}
.print-to-pdf:hover {
    background: rgba(68, 68, 68, .6);
}
.print-to-pdf img {
    width: 36px;
    height: 36px;
}
.footer {
    display: flex;
    justify-content: center;
    gap: 28px;
    padding: 20px;
    margin-top: 20px;
}
.footer a {
    display: inline-flex;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    color: #f7f4f4;
}
.footer a:hover {
    opacity: 1;
    transform: scale(1.1);
}
.footer .reveal-logo {
    width: 120px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.footer .express-logo {
    font-family: "Helvetica Neue", "Open Sans", sans-serif;
}
.footer .ejs-logo {
    font-family: "Montserrat", sans-serif;
}
